.artist-event-list {
  margin: 0; }
  .artist-event-list .no-events {
    margin-bottom: 1%;
    display: inline-table;
    height: 75px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40%; }
